<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-Total-Player" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Total-Player</name><js-module name="Total-Player" src="www/Total-Player.js"><clobbers target="cordova.plugins.Total-Player" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Total-Player"><param name="android-package" value="cordova-plugin-Total-Player.Total-Player" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/Total-Player.java" target-dir="src/cordova-plugin-Total-Player/Total-Player" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="Total-Player"><param name="ios-package" value="Total-Player" /></feature></config-file><source-file src="src/ios/Total-Player.m" /></platform></plugin>